 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: greenyellow;
    z-index: auto;
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  body {
    scroll-behavior: smooth;
    animation: scaleIn 1s ease-out forwards;
  }

  header {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 35px;
    text-align: center;
  }

  h1 {
    transition: all 0.9s ease-out;
  }

  h1::after {
    content: "MY PORTFOLIO";
    color: greenyellow;
    transition: all 0.9s;
  }

  h1:hover::after {
    content: "ABDULAHI A. OMER";
    word-spacing: 20px;
    color: yellow;
    transition: all 0.9s ease-out;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
    font-size: 14px;
  }

  nav ul li a {
    text-decoration: none;
    color: greenyellow;
    transition: all 0.9s;
    cursor: pointer;
  }

  nav ul li a:hover {
    color: black;
    background-color: greenyellow;
    border-radius: 12px;
    padding: 15px;
    transform: scaleZ(1);
    transition: all 0.9s;
    cursor: pointer;
  }

  .lil {
    border: 1px solid grey;
    width: 100%;
  }

  main {
    display: flex;
    margin: 100px;
    gap: 600px;
  }

  .image img {
    width: 300px;
    border-radius: 900px;
    transition: all 0.9s;
    box-shadow: 4px 4px 24px;
  }

  .image img:hover {
    transform: skew(20deg);
  }

  .hh {
    border: 1px solid greenyellow;
    box-shadow: 4px 5px 20px;
    padding: 20px;
  }

  main p {
    width: 300px;
    letter-spacing: 2px;
  }

  main h2 {
    text-align: center;
    margin-bottom: 40px;
    transition: all 0.9s;
    text-decoration: underline;
  }

  main h2:hover {
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    font-size: 60px;
    border-radius: 12px;
    text-transform: uppercase;
    box-shadow: 4px 5px 20px;
    transition: all 0.9s;
  }

  section {
    display: flex;
    justify-content: center;
  }

  #skills {
    width: 300px;
    height: 250px;
    border: 1px solid greenyellow;
    box-shadow: 4px 4px 24px;
    margin: 70px;
    align-items: center;
    text-align: center;
  }

  #skills ul {
    list-style: none;
    margin-top: 30px;
  }

  #skills h2 {
    margin-top: 20px;
  }

  #Projects {
    width: 300px;
    height: 250px;
    border: 1px solid greenyellow;
    box-shadow: 4px 4px 24px;
    margin: 70px;
    align-items: center;
    text-align: center;
  }

  #Projects h2 {
    margin-top: 20px;
  }

  #Projects .a {
    margin-top: 25px;
    background-color: green;
    border-radius: 30px;
    color: white;
    transition: all 1s;
  }

  #Projects .a:hover {
    transform: translateY(-20px);
    transition: all 1s;
  }

  #Projects .aa {
    margin-top: 25px;
    background-color: dodgerblue;
    border-radius: 30px;
    color: black;
    transition: all 1s;
  }

  #Projects .aa:hover {
    transform: translateY(-20px);
    transition: all 1s;
  }

  #Projects .aaa {
    margin-top: 25px;
    background-color: red;
    border-radius: 30px;
    color: black;
    transition: all 1s;
  }

  #Projects .aaa:hover {
    transform: translateY(-20px);
    transition: all 1s;
    color: white;
  }

  #Contact {
    width: 300px;
    height: 250px;
    border: 1px solid greenyellow;
    box-shadow: 4px 4px 24px;
    margin: 70px;
    text-align: center;
  }

  #Contact h2 {
    margin-top: 20px;
  }

  #Contact .links img {
    width: 30px;
    margin-top: 30px;
    box-shadow: 2px 2px 4px yellowgreen;
    transition: all 1s;
  }

  #Contact .links img:hover {
    transform: rotate(70deg);
    transition: all 1s;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  footer {
    padding: 30px;
    text-align: center;
  }

  footer p {
    margin-top: 20px;
  }

  @media (max-width:768px) {
    main {
      flex-direction: column;
      gap: 110px;
      align-items: center;
    }

    .image img {
      width: 350px;
    }

    section {
      flex-direction: column;
      align-items: center;
    }
  }